<div class="fixed-top">
  <div class="row">
    <div class="col text-center bg-white">
      <h1>Recipeasy!</h1>
   </div>
  </div>
  <app-nav></app-nav>
</div>

<div class="pt-4" style="margin: 112px 0px 24px 0px;">
  <router-outlet></router-outlet>
</div>
