<div class="container text-center">
  <div class="row">
      <div class="col">
         <h2>Welcome</h2>
      </div>
  </div>

 <div class="row mt-2">
     <div class="col-10 offset-1">
         <form #loginForm="ngForm" (ngSubmit)="login(emailInput.value, passwordInput.value)">
             <div class="form-group">
             <input #emailInput ngModel email name="email" type="email" required placeholder="Email address" class="form-control" autofocus>
             </div>

             <div class="form-group">
             <input #passwordInput name="password" ngModel type="password" required placeholder="Password" class="form-control" >
             </div>

             <button [disabled]="loginForm.valid === false" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
         </form>
     </div>
 </div>
</div>
