<h4 class="font-italic">Create a recipe</h4><br>
  <form #form="ngForm" [formGroup]="recipeForm" (ngSubmit)="create()">
    <div class="row">
        <div class="form-group col col-lg-2">
            <input #name formControlName="name" [class.is-invalid]="recipeForm.controls.name.invalid && (recipeForm.controls.name.dirty || form.submitted)" type="text" class="form-control" placeholder="Name" autofocus>
            <div class="invalid-feedback">
                Please provide a name.
            </div>
        </div>


        <div class="form-group col">
          <input formControlName="description" [class.is-invalid]="recipeForm.controls.description.invalid && (recipeForm.controls.description.dirty || form.submitted)" type="text" class="form-control" placeholder="Description">
          <div class="invalid-feedback">
              Please provide a description.
          </div>
        </div>

        <div class="form-group col col-lg-2">
          <select formControlName="category" [class.is-invalid]="recipeForm.controls.category.invalid && (recipeForm.controls.category.dirty || form.submitted)" name="category" class="form-control">
            <option value="" disabled selected hidden>Category</option>
            <option value="Starter">Starter</option>
            <option value="Main Course">Main Course</option>
            <option value="Dessert">Dessert</option>
           </select>
        </div>
        <br>
        <div class="col col-md-auto text-right">
          <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
</form>
